* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* não deixa os imputs passarem da área máxima das divs que eles estão */
  font-family: 'Open Sans', sans-serif; /* a fonte está no /public index.html */
}

html,
body,
#root {
  background-color: #EFEFEF;
  height: 100%; /* roda pé colado no fim da página */
}